:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='437'%3E%3Cpath fill='%23D6E1FF' fill-rule='evenodd' d='M0 349.974c218.558 116.035 460.05 116.035 724.475 0s502.933-116.035 715.525 0V0H0v349.974z'/%3E%3C/svg%3E");
  font-family: "Red Hat Display", sans-serif;
  background-repeat: repeat-x;
  background-color: var(--pale-blue);
}

h1 {
  font-weight: 900;
  font-size: 28px;
  margin-top: 35px;
}

a {
  color: var(--bright-blue);
  font-weight: 900;
  font-size: 14px;
}
p {
  margin: 5px 0px;
}
.container,
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 20 20px 20px;
}
.container {
  margin-top: 60px;
}
.box {
  background-color: var(--white);
  width: 28rem;
  border-radius: 20px;
  box-shadow: 0px 0px 81px -37px rgba(0, 0, 0, 0.473);
}

.text {
  text-align: center;
  margin-bottom: 25px;
  padding: 0px 50px;
}

.text-normal {
  color: var(--desaturated-blue);
  font-size: 16px;
}
.text-big {
  font-weight: 900;
}
.ilustration {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.btn-main {
  background-color: var(--bright-blue);
  color: var(--white);
  padding: 15px 100px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 900;
  box-shadow: 0px 17px 37px -12px rgba(138, 143, 226, 1);
}

.btn-cancel {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 25px 120px 35px 120px;
  color: var(--desaturated-blue);
  font-size: 14px;
  font-weight: 900;
}
.plan {
  background-color: var(--very-pale-blue);
  padding: 20px 20px;
  border-radius: 15px;
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.plan-left,
.plan-right {
  display: inline;
}

.plan-left {
  padding-right: 60px;
}

.plan-right {
  padding: 0px 10px;
}

.plan-icon {
  padding: 0px 20px;
}
